
/** Jag har här lagt bakgrundsfärg och textfärg, jag har länkat de olika färgerna beroende på element i htlm texten. 
Jag valde att lägga text i h1 i mitten av hemsidan, därav text-align. */
    
body{   
    background-color: lightblue;
}

h1{
    color: black;
    text-align: center;
}

p { 
    
    color: black;

}

ul {
    color: black;
}

